[workspace]
members = [
    ".",
    "mitmproxy-rs",
    "mitmproxy-windows/redirector",
    "wireguard-test-client",
    "mitmproxy-macos/certificate-truster",
]

[workspace.package]
authors = [
    "Fabio Valentini <decathorpe@gmail.com>",
    "Maximilian Hils <cargo@maximilianhils.com>",
]
version = "0.2.0"
publish = false
repository = "https://github.com/mitmproxy/mitmproxy-rs"
edition = "2021"
rust-version = "1.65.0"

[package]
name = "mitmproxy"
license = "MIT"
authors.workspace = true
version.workspace = true
repository.workspace = true
edition.workspace = true
rust-version.workspace = true
publish.workspace = true

[dependencies]
anyhow = { version = "1.0.75", features = ["backtrace"] }
log = "0.4.18"
once_cell = "1"
pretty-hex = "0.3.0"
rand_core = { version = "0.6.4", features = ["getrandom"] }
smoltcp = "0.10"
tokio = { version = "1.32.0", features = ["macros", "net", "rt-multi-thread", "sync", "time", "io-util", "process"] }
boringtun = { version = "0.6", default-features = false }
x25519-dalek = "=2.0.0-rc.3"
async-trait = "0.1.68"
console-subscriber = { version = "0.1.9", optional = true }
image = "0.24.6"
prost = "0.11.9"
tokio-util = { version = "0.7.8", features = ["codec"] }
futures-util = { version = "0.3.28", features = ["sink"] }

# [patch.crates-io]
# tokio = { path = "../tokio/tokio" }
# smoltcp = { git = 'https://github.com/mhils/smoltcp', rev = 'f65351adfa92db5193f368368cb668bac721fe43' }

[target.'cfg(windows)'.dependencies.windows]
version = "0.48.0"
features = [
    "Win32_Foundation",
    "Win32_Graphics_Dwm",
    "Win32_Graphics_Gdi",
    "Win32_Networking_WinSock",
    "Win32_NetworkManagement_IpHelper",
    "Win32_Storage_FileSystem",
    "Win32_System_LibraryLoader",
    "Win32_System_ProcessStatus",
    "Win32_System_Threading",
    "Win32_UI_Shell",
    "Win32_UI_WindowsAndMessaging",
]

[target.'cfg(target_os = "macos")'.dependencies]
security-framework = { git="https://github.com/emanuele-em/apple-security", rev = "eb6abf2dabe3881620436eba952750600bef267b"}
nix = { version = "0.26.2", default-features = false, features = ["fs"] }

[dev-dependencies]
env_logger = "0.10"
rand = "0.8"
criterion = "0.5.1"

[build-dependencies]
prost-build = "0.11.9"
protoc-bin-vendored = "3"

[[bench]]
name = "process"
harness = false

[profile.release]
codegen-units = 1
lto = true
opt-level = 3

[features]
tracing = ["console-subscriber"]
