[package]
name = "mitmproxy_wireguard"
description = "WireGuard interface for mitmproxy"
license = "MIT"
publish = false

version = "0.1.0"
edition = "2021"
rust-version = "1.56.0"

authors = [
    "Fabio Valentini <decathorpe@gmail.com>",
    "Maximilian Hils <cargo@maximilianhils.com>",
]
exclude = [
    "/.github/",
    "/benches/",
    "/dist/",
    "/venv/",
    "/PUBLISHING.md",
    "/architecture.png",
    "/echo_test_server.py",
    "/rustfmt.toml",
]

[lib]
name = "mitmproxy_wireguard"
crate-type = ["cdylib"]

[[bin]]
name = "mitm-wg-test-client"
path = "src/bin/test_client.rs"
required-features = ["test-client"]

[dependencies]
anyhow = "1.0.56"
base64 = "0.13"
boringtun = { version = "0.5", default-features = false }
log = "0.4.16"
pretty-hex = "0.3.0"
pyo3 = { version = "0.16.4", features = ["abi3", "abi3-py37", "extension-module", "anyhow"] }
pyo3-asyncio = { version = "0.16", features = ["tokio-runtime"] }
pyo3-log = "0.6.0"
smoltcp = "0.8"
tokio = { version = "1.17", features = ["macros", "net", "rt-multi-thread", "sync", "time"] }
x25519-dalek = "2.0.0-pre.1"
rand_core = { version = "0.6.3", features = ["getrandom"] }

# optional dependencies for the test client
hex = { version = "0.4", optional = true }

# optional dependencies for tracing support
console-subscriber = { version = "0.1.4", optional = true }

[profile.release]
codegen-units = 1
lto = true
opt-level = 3

[features]
default = ["test-client"]
test-client = ["hex"]
tracing = ["console-subscriber"]
