[package]
name = "mitmproxy_wireguard"
description = "WireGuard interface for mitmproxy"
license = "MIT"
repository = "https://github.com/decathorpe/mitmproxy_wireguard"
publish = false

version = "0.1.17"
edition = "2021"
rust-version = "1.58.0"

authors = [
    "Fabio Valentini <decathorpe@gmail.com>",
    "Maximilian Hils <cargo@maximilianhils.com>",
]
exclude = [
    "/.github/",
    "/benches/",
    "/dist/",
    "/venv/",
    "/PUBLISHING.md",
    "/architecture.png",
    "/coverage.sh",
    "/echo_test_server.py",
    "/rustfmt.toml",
]

[lib]
name = "mitmproxy_wireguard"
crate-type = ["cdylib"]

[dependencies]
anyhow = "1.0.56"
base64 = "0.13"
boringtun = { version = "0.5", default-features = false }
log = "0.4.16"
once_cell = "1"
pretty-hex = "0.3.0"
pyo3 = { version = "0.17.2", features = ["abi3", "abi3-py37", "extension-module", "anyhow"] }
pyo3-asyncio = { version = "0.17", features = ["tokio-runtime"] }
pyo3-log = "0.7"
rand_core = { version = "0.6.3", features = ["getrandom"] }
smoltcp = "0.8"
tokio = { version = "1.17", features = ["macros", "net", "rt-multi-thread", "sync", "time"] }
x25519-dalek = "2.0.0-pre.1"

# optional dependencies for tracing support
console-subscriber = { version = "0.1.4", optional = true }

[dev-dependencies]
env_logger = "0.9"
rand = "0.8"

[profile.release]
codegen-units = 1
lto = true
opt-level = 3

[features]
tracing = ["console-subscriber"]

[workspace]
members = [
    ".",
    "test-client",
]
