[package]
name = "mitmproxy"
license = "MIT"
authors.workspace = true
version.workspace = true
repository.workspace = true
edition.workspace = true
rust-version.workspace = true
publish.workspace = true

exclude = [
    "/.github/",
    "/benches/",
    "/dist/",
    "/venv/",
    "/PUBLISHING.md",
    "/architecture.png",
    "/coverage.sh",
    "/echo_test_server.py",
    "/rustfmt.toml",
]

[dependencies]
anyhow = { version = "1.0.66", features = ["backtrace"] }
base64 = "0.13"
log = "0.4.17"
once_cell = "1"
pretty-hex = "0.3.0"
rand_core = { version = "0.6.4", features = ["getrandom"] }
smoltcp = "0.8"
tokio = { version = "1.22", features = ["macros", "net", "rt-multi-thread", "sync", "time", "io-util"] }
boringtun = { version = "0.5", default-features = false }
x25519-dalek = "2.0.0-pre.1"
async-trait = "0.1.58"
console-subscriber = { version = "0.1.8", optional = true }


[target.'cfg(windows)'.dependencies]
bincode.workspace = true

[target.'cfg(windows)'.dependencies.windows]
version = "0.43.0"
features = [
    "Win32_UI_Shell",
    "Win32_Foundation",
    "Win32_UI_WindowsAndMessaging",
    "Win32_System_Threading",
]

[dev-dependencies]
env_logger = "0.10"
rand = "0.8"
criterion = "0.4.0"

[[bench]]
name = "process"
harness = false

[profile.release]
codegen-units = 1
lto = true
opt-level = 3

[features]
tracing = ["console-subscriber"]

[workspace]
members = [
    ".",
    "ffi",
    "windows-redirector",
    "wireguard-test-client",
]

[workspace.package]
authors = [
    "Fabio Valentini <decathorpe@gmail.com>",
    "Maximilian Hils <cargo@maximilianhils.com>",
]
version = "0.2.0"
publish = false
repository = "https://github.com/mitmproxy/mitmproxy-rs"
edition = "2021"
rust-version = "1.65.0"

[workspace.dependencies]
bincode = "2.0.0-rc.2"
