[package]
name = "mitmproxy_rs"
license = "MIT"
authors.workspace = true
version.workspace = true
repository.workspace = true
edition.workspace = true
rust-version.workspace = true
publish.workspace = true

[lib]
name = "mitmproxy_rs"
crate-type = ["cdylib"]

[dependencies]
mitmproxy = { path = "../" }
anyhow = { version = "1.0.75", features = ["backtrace"] }
data-encoding = "2.4.0"
log = "0.4.18"
once_cell = "1"
pyo3 = { version = "0.19.2", features = ["abi3", "abi3-py310", "extension-module", "anyhow"] }
pyo3-asyncio = { version = "0.19.0", features = ["tokio-runtime"] }
pyo3-log = "0.8.3"
rand_core = { version = "0.6.4", features = ["getrandom"] }
tokio = { version = "1.32", features = ["macros", "net", "rt-multi-thread", "sync"] }
x25519-dalek = "2.0.0-pre.1"

# optional dependencies for tracing support
console-subscriber = { version = "0.1.9", optional = true }
bytes = "1.5.0"


[dev-dependencies]
env_logger = "0.10"

[features]
tracing = ["console-subscriber"]
