[package]
name = "macos-certificate-truster"
license = "MIT"
authors.workspace = true
version.workspace = true
repository.workspace = true
edition.workspace = true
rust-version.workspace = true
publish.workspace = true

[target.'cfg(target_os = "macos")'.dependencies]
security-framework = "3.5.1"
