name: autofix.ci

on:
  pull_request:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  rust_clippy: 1.65  # MSRV

jobs:
  protobuf:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - run: brew install swift-protobuf
      - run: protoc --swift_out=./mitmproxy-macos/redirector/ipc --proto_path=./src/packet_sources/ ipc.proto
      - uses: autofix-ci/action@8caa572fd27b0019a65e4c695447089c8d3138b9

  rustfmt:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            args: --package windows-redirector
          - os: macos-latest
            args: --package macos-certificate-truster
          - os: ubuntu-latest
            args: --workspace --exclude windows-redirector --exclude macos-certificate-truster
    steps:
      - uses: actions/checkout@v3
      - run: rustup toolchain install ${{ env.rust_clippy }} --profile minimal --component rustfmt --component clippy
      - run: rustup default ${{ env.rust_clippy }}
      - uses: Swatinem/rust-cache@e207df5d269b42b69c8bc5101da26f7d31feddb4  # v2.6.2
        timeout-minutes: 2
        continue-on-error: true

      - run: cargo clippy --fix --allow-dirty ${{ matrix.args }}
      - run: cargo fmt --all

      - uses: autofix-ci/action@8caa572fd27b0019a65e4c695447089c8d3138b9
