name: docs

on:
  push:
    branches:
      - main
  pull_request:

# security: restrict permissions for CI jobs.
permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Build the documentation and upload the static HTML files as an artifact.
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@3cf7f8cc28d1b4e7d01e3783be10a97d55d483c8  # v2.7.1
        timeout-minutes: 2
        continue-on-error: true
      - name: Install maturin[zig] from PyPI
        uses: install-pinned/maturin-with-zig@930de5c8284dfb26f11fd30a35a0df4c15ee4f8b
      - name: Install mypy from PyPI
        uses: install-pinned/mypy@020b6c0814d9de4c275f3b4f858c2c40b02554fa
      - name: Install pdoc from PyPI
        uses: install-pinned/pdoc@6bb5f2d6ed7b3000e20c0271fe520cb31185f760

      - run: maturin build
        working-directory: ./mitmproxy-rs
      - run: pip install --no-index --find-links target/wheels/ mitmproxy_rs

      - run: stubtest --allowlist mitmproxy-rs/stubtest-allowlist.txt --mypy-config-file mitmproxy-rs/pyproject.toml mitmproxy_rs

      - run: pdoc -o docs/ mitmproxy_rs

      - uses: actions/upload-pages-artifact@v2
        with:
          path: docs/

  # Deploy the artifact to GitHub pages.
  # This is a separate job so that only actions/deploy-pages has the necessary permissions.
  deploy:
    if: github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v2
