name: docs

on:
  push:
    branches:
      - main

# security: restrict permissions for CI jobs.
permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  # Build the documentation and upload the static HTML files as an artifact.
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install maturin[zig] from PyPI
        uses: install-pinned/maturin-with-zig@a5d82612e4eadbe8eec2f9d375135da70fb71c15  # 0.14.1
      - name: Install pdoc from PyPI
        uses: install-pinned/pdoc@be8876236b8be640e4b080970b146ed5c6beddb0  # 12.3.0

      # workaround for https://github.com/rust-lang/cargo/issues/9096
      - run: cargo build --package windows-redirector

      - run: maturin build
        working-directory: ./ffi
      - run: pip install --no-index --find-links target/wheels/ mitmproxy_rs

      - run: pdoc -o docs/ mitmproxy_rs

      - run: |
          if ((Select-String -Path ./docs/mitmproxy_rs.html -Pattern unknown) -ne $null) { 
            throw "incomplete .pyi file" 
          }

      - uses: actions/upload-pages-artifact@v1
        with:
          path: docs/

  # Deploy the artifact to GitHub pages.
  # This is a separate job so that only actions/deploy-pages has the necessary permissions.
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v1
