name: docs

on:
  push:
    branches:
      - main
  pull_request:

# security: restrict permissions for CI jobs.
permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Build the documentation and upload the static HTML files as an artifact.
  build:
    runs-on: ubuntu-latest
    steps:
      # TODO: This should ideally just reuse the main CI artifacts.
      - uses: mhils/workflows/checkout@v12
      - uses: mhils/workflows/rust-cache@v12
      - name: Install maturin[zig] from PyPI
        uses: install-pinned/maturin-with-zig@4804d730717f28b7565e71e68e5c9fe8c4f9b089
      - name: Install mypy from PyPI
        uses: install-pinned/mypy@15172e0901cf7045a4181d12138212867fb66389
      - name: Install pdoc from PyPI
        uses: install-pinned/pdoc@e84522771f760a774c423ce40c9bb9844f843825

      - run: maturin build
        working-directory: ./mitmproxy-rs
      - run: maturin build
        working-directory: ./mitmproxy-linux
      - run: pip install --no-index --find-links target/wheels/ mitmproxy_rs

      - run: stubtest --allowlist mitmproxy-rs/stubtest-allowlist.txt --mypy-config-file mitmproxy-rs/pyproject.toml mitmproxy_rs

      - run: pdoc -o docs/ mitmproxy_rs

      - uses: actions/upload-pages-artifact@v3
        with:
          path: docs/

  # Deploy the artifact to GitHub pages.
  # This is a separate job so that only actions/deploy-pages has the necessary permissions.
  deploy:
    if: github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
